// 全局样式
@import "./reset";

.color-white{
  color: white;
}

// font-size
.fs-12 {
  font-size: 12px;
}

// text-align
.text-center {
  text-align: center;
}

.captcha-styles-1 {
  margin-bottom: 24px;
  margin-top: 10px;
}